<div class="row">
   <div class="col-md-12">
      <table class="table table-bordered responsive">
         <thead>
            <tr>
               <th width="15%">ID</th>
               <th>Site</th>
               <th>Andar</th>
               <th>Grupo</th>
               <th>Volume</th>
               <th width="33%">Opções</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>65</td>
               <td>Dillon</td>
               <td>Garcia</td>
               <td>13652</td>
               <td>162</td>
               <td><button type="button" class="btn btn-blue">+ info</button></td>
            </tr>
            <tr>
               <td>66</td>
               <td>Russell</td>
               <td>Sweeney</td>
               <td>T8P 2O6</td>
               <td>453</td>
               <td><button type="button" class="btn btn-blue">+ info</button></td>
            </tr>
            <tr>
               <td>67</td>
               <td>Zelda</td>
               <td>Berg</td>
               <td>84946</td>
               <td>46</td>
               <td><button type="button" class="btn btn-blue">+ info</button></td>
            </tr>
            <tr>
               <td>68</td>
               <td>Dexter</td>
               <td>Mann</td>
               <td>73596</td>
               <td>76</td>
               <td><button type="button" class="btn btn-blue">+ info</button></td>
            </tr>
            <tr>
               <td>69</td>
               <td>Maisie</td>
               <td>Miller</td>
               <td>X3M 6C1</td>
               <td>121</td>
               <td><button type="button" class="btn btn-blue">+ info</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>